p#about, .aboutUs{
    /*display: block;*/
    margin: .5em 7em .5em 7em;
    text-align: center;
}
.ourTeam {
    text-align: center;
    color: navajowhite;
    margin: 1em;
}
.aboutPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  10em;
    height: 10em;
    object-fit: cover;
}
#alignOurTeam{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutUs {
    font-family: 'Play', sans-serif; !important;
    color: #ffffff;
    text-shadow: 3px 3px #0e1b50;
}
.ourTeam{
    font-family: 'Play', sans-serif; !important;
    color: #62b243;
    text-shadow: 2px 2px #0e1b50;
}
#about {
    color: #ffffff;
    font-family: 'Play', sans-serif; !important;
    text-shadow: 2px 2px #0e1b50;
}

.developedBy {
    font-size: xx-large;
    font-family: 'VT323', monospace !important;
    color: #62b243;
    text-shadow: 2px 2px #0e1b50;
    text-align: center;

}
@media only screen and (max-width: 1182px) {
    .aboutPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:  8em;
        height: 8em;
        object-fit: cover;
    }
}
@media only screen and (max-width: 991px) {
    .aboutPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:  8em;
        height: 8em;
        object-fit: cover;
    }
    #alignOurTeam{
        display: flex;
        flex-direction: column;
    }
}

