.account-body{
    display: block;
}

.img-circle {
    border-radius: 100%;
    border: 4px solid;
    margin-left: 1em;
}
label {
    position: inherit;
    /*display: block;*/
    margin-top: 1em;
    display: flex;
}
#change-password-button {
    margin-top: 1em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    font-size: 1rem;
    background: #202124;
    border-color: #666666;
    color: #ffffff;
}
#change-password-button:hover, #change-password-button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
}

#profile {
    display: block;
}
p.profile-info {
    color: #3da153;
    display: block;
    width: 50%;
    margin-left: 0.5em;
}

#register-form, .account-page, #change-password-button{
    width: 20%;
    margin-left: .5em;
}
h3 {
    margin-left: 0.5em;
}