#createBoardModal {
    display: flex;
    justify-content: flex-end;

}

#boardViewTitle {

}
#hr-board {
    border: 0;
    width: 100%;
    height: 0;
    border-top: 0.3rem dashed white;
    position: relative;
    overflow: visible;
    margin: 2rem 0;

}