#createBoardModal {
    display: flex;
    justify-content: flex-end;

}

#boardTitle {
    color: #ffffff;
    font-size: xx-large;
    font-family: 'VT323', monospace;
    background-color: black;
}

.topic{
    color: black ;
    font-size: xx-large;
    font-family: 'VT323', monospace;
}

.card-header:first-child {
    background-color: black;
}
.description{
    font-family: 'Caveat Brush', cursive;
}
p.topic{
    color: #ffffff;
}