@import "Profile.css";
@import "BoardView.css";
@import "Login.css";
@import "About.css";
@import "Register.css";
@import "Account.css";

@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


h1, h2 {
    color: #b70c95;
    text-shadow: 1px 1px #0e1b50;
}

.nav-item {
    padding-right: 2em;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    color: white !important;

}
.navbar{
    background-color: black;
}
.nav-link {
    /*color: #b70c95 !important;*/
}
#navbarNavDropdown {
    flex-direction: row;
    justify-content: center;
}

.jumbotron {
    margin-bottom: 0;
}
.glow {
    font-family: "Comic Sans MS", serif;
    font-size: 25px;
    color: #6f11d1;
    text-align: center;
    text-shadow:2px 2px 10px #6f11d1, 2px 2px 10px #ccc;

    /*animation: glow 1s ease-in-out infinite alternate;*/
}
/*@-webkit-keyframes glow {*/
/*    from {*/
/*        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08ed17, 0 0 40px #08ed17, 0 0 50px #08ed17, 0 0 60px #08ed17, 0 0 70px #08ed17;*/
/*    }*/
/*    to {*/
/*        text-shadow: 0 0 20px #fff, 0 0 30px #28dc0c, 0 0 40px #28dc0c, 0 0 50px #28dc0c, 0 0 60px #28dc0c, 0 0 70px #28dc0c, 0 0 80px #28dc0c;*/
/*    }*/
/*}*/

.dropdown-menu {
    background-color: #000000;
}
body{
    background-image: linear-gradient(to right, #840b9f , #0e1b50);

}

.navbar-light .navbar-toggler-icon {
    background-image: url(https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff) !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0e1b50;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BCA7E8;
    border-radius: 10px;
    text-shadow:2px 2px 10px #6f11d1, 2px 2px 10px #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
