a {
    padding: 2em;
    text-align: center;
    color: white !important;

}
.navbar{
    background-color: black;
}
.nav-link {
    /*color: #b70c95 !important;*/
}

.glow {
    font-family: "Comic Sans MS", serif;
    font-size: 35px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08ed17, 0 0 40px #08ed17, 0 0 50px #08ed17, 0 0 60px #08ed17, 0 0 70px #08ed17;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #28dc0c, 0 0 40px #28dc0c, 0 0 50px #28dc0c, 0 0 60px #28dc0c, 0 0 70px #28dc0c, 0 0 80px #28dc0c;
    }
}
