a {
    padding: 2em;
    text-align: center;
    color: #ffffff !important;

}
.navbar, .dropdown-menu{
    background-color: #202124;
}
.nav-link {
    color: #ffffff !important;
}
.dropdown-item {
    color: #ffffff;
}