.username{
    background: transparent;
    border-color: transparent;

}
input#username.username {
    font-size: xxx-large;
    color: #ffffff;
    font-family: 'Smooch', cursive;
    text-shadow: 1px 1px #666666;
}